.blogs-content {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 63.5px;
  a {
    text-decoration: none;
  }
  .blog-heading {
    font-size: 25px;
    font-family: Gill;
    width: 229px;
    padding-bottom: 10.5px;
    border-bottom: black solid 2px;
  }
  .blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30.5px;
    margin-bottom: 56px;
    .blog {
      width: 460px;
      display: flex;
      margin-bottom: 30px;
      .blog-left {
        margin-right: 20px;
      }
      .blog-right {
        .blog-image {
          background-image: url(../images/blog.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 380px;
          height: 140px;
        }
        .blog-text-heading {
          margin-top: 20px;
          font-family: Gill;
          font-size: 15px;
        }
        .blog-text {
          margin-top: 11px;
          color: $site-pink;
          font-family: Gill;
          font-size: 13px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .blogs-content {
    width: 90%;
  }
}

@media only screen and (max-width: 1037px) {
  .blogs-content {
    .blog-heading {
      text-align: center;
      margin: 0 auto;
    }
    .blogs {
      justify-content: center;
    }
  }
}
